@import url('https://fonts.google.com/specimen/Poppins?selected=Material+Symbols+Outlined:close:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%23e3e3e3');

:root{
    --accent-color: #aa8723;
    --background-color: rgba(128, 128, 128, 0.128);
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(images/DIGITAL\ ARMORY.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

html{
    font-size: 12px;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*nav bar*/

/*desktop interface*/

nav{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-bottom: solid 2px;
    border-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.25) 0%,
        var(--accent-color) 50%,
        rgba(0, 0, 0, 0.25) 100%) 1;
    }

nav .links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: grey;

    font-size: 1.5em;
}

nav a:hover{
    color: white;
}

nav .home-link{
    margin-right: auto;
}

nav svg{
    fill: white;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    padding: 0 20px;
    display: none;
}

/*desktop interface*/

/*mobile interface*/

@media (max-width: 450px){

nav .links-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: grey;
    box-shadow: -10px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out
}

nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;

    color: white;
}

.open-sidebar-button, .close-sidebar-button{
    display: block;
}

#sidebar-active:checked ~ .links-container{
    right: 0;
}

#sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

}
/*mobile interface*/

/*nav bar*/

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;

    height: 500px;
    width: 500px;
}

.login{
    border: solid 2px var(--accent-color);
    transform: skew(-10deg);
    padding: 20px;
}

.login h1{
    text-align: center;

    font-size: 2em;
}

.login .input{
    position: relative;
    margin: 20px 0;
}

.login label{
    position: absolute;

    transform: translateY(-50%);
    top: 50%;
    left: 15px;

    font-size: 1.2em;

    pointer-events: none;

    padding: 0 5px;
    
    transition: 0.5s ease;
}

.login input{
    width: 360px;
    height: 60px;
    padding: 0 15px;
    border: solid 1px white;
    background: transparent;
    outline: none;
    color: var(--accent-color);
    font-size: 1.25em;
}

.login input:focus~label, .login input:valid~label{
    top: 0;
    background: black;
    font-size: 1.5em;
}

.login .submit{
    background: transparent;
    border: solid 1px var(--accent-color);

    color: white;
}